
<h1>About Us</h1>
	<div class="quotes">
		<script type="text/javascript">
		quotes=[];
		authors=[];
		quotes[0]= "We Own It is a unique opportunity to connect with accomplished entrepreneurs, aspiring entrepreneurs, and individuals in all fields who are passionate about helping women entrepreneurs reach their goals. It is an honor to be part of this global gathering of smart, accomplished, dynamic individuals who share the same objectives.";
		authors[0]="Ruth Owades";
		quotes[1]= "Prolog does not specifically target women-led companies. We partner with the best entrepreneurs we can find. Turns out, they are frequently women.";
		authors[1]="Nicholas Donofrio";
		quotes[2]="Trust, respect, and a mutual partnership, not at arms length, but close up, are the qualities of a healthy relationship between an investor and an entrepreneur";
		authors[2]= "Nicholas Donofrio";
		quotes[3]= "(Q:How can we increase corporations awwareness of the value women add as innovators and entrepreneurs?) Appeal to their success value proposition. Corporations will pay attention when you have a track record of success. The more successful women who stand up and speak about what a contribution We Own It made to their businessess, the more corporations will pay attention.";
		authors[3]="Nick Donofrio";
		quotes[4]="My advice for entrepreneurs participating in the pitch competition is to show us (judges) your passion, vision,  high-growth potential, and make us dream along with you.";
		authors[4]="Dominique Valentiny CEO of Skysites";
	
		
		index = Math.floor(Math.random() * quotes.length);
		
		document.write("<DL>\n");
		document.write("<DT>"+ quotes[index]+"\"\n");
		document.write("<DD>"+ "-- " + authors[index] + "\n");
		document.write("</DL>\n");
		
		</script>
	</div>
	<p>
		<br><br>
		We represent a cross-section of entrepreneurs, investors, academia, government, media, non-profit and industry organizations focused on breaking down barriers for women in high-growth entrepreneurship across the pipeline from aspiring entrepreneur to Founder/CEO to investor to board member.
	</p>
	<br>
	<p>
		Read the We Own It Charter: <a href="We Own it Charter.doc">here</a> If you are interested in becoming a member of the Collaboration, email: <a href="mailto:membership@weownitsummit.org">membership@weownitsummit.org</a>
	</p>
	<br>
	<p>
		At the inaugural Summit in 2010, 1-year and 10-year goals were agreed upon by the attendees. In subsequent Summits, we have measured our progress to the previous year's goals and to our 10 year goals, and to set new goals to ensure that by the end of the decade the barriers are removed and the opportunities are realized.
	</p>
	<div id="goals">
		
			Ten Year Goals: 2010 - 2020<br>
			"The Decade of the Woman Entrepreneur"<br>
			<ul>
				<li>Increase the number of women investors.</li>
				<li>Increase the number of women high-growth entrepreneurs.</li>
				<li>Increase the likelihood of success of business (growth stage).</li>
				<li>Get more women on public and private boards.</li>
			</ul>
			<br>
		
			<p>
				Contact Information:<br>
				For all questions about the We Own It Summit, please email:<br>
				<a href="mailto:WOIS2014@awe.com">WOIS2014@awe.com</a><br>
		</p>
		<br>
		<br>
		<br>
	</div>


<ul class="nav nav-list">
	<li class="divider"></li>
</ul>


<div class="row">
	<div class="span12" align="center">
		<h2>Sponsors</h2>
		<h4>Platinum</h4>
		<p>
				<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank'%>

		</p>
	</div>
</div>

<div class="row">
	<div class="span4" align="center">
		<h4>Gold</h4>
		<p>
			<%= link_to image_tag("TSB.jpg", size:"250x250"), 'http://www.innovateuk.org/', target:'_blank'%>
			<%= link_to image_tag("MSFT.jpg", size:"250x250"), 'http://www.microsoft.com/en-us/default.aspx', target:'_blank' %>
		</p>
	</div>

	<div class="span4" align="center">
		<h4>Silver</h4>
		<p>
			<%= link_to image_tag("dentons.jpg", size:"200x200"), 'http://www.dentons.com', target:'_blank' %>
		</p>
	</div>

	<div class="span4" align="center">
		<h4>Bronze</h4>
		<p>
			<%= link_to image_tag("bloomberg logo blk.jpg", size:"100x100"), 'http://www.bloomberg.com/', target:'_blank'%>
			<%= link_to image_tag("astiaangel2.jpg", size:"100x100"), 'http://www.astia.org/', target:'_blank' %>
		</p>
	</div>
</div>

<div class="row">



	<div class="span4" align="center">
		<h4>Partners</h4>
		<p>
			<%= link_to image_tag("gust.png", size:"50x50"), 'http://www.gust.com/', target:'_blank'%>
			
			<%= link_to image_tag("SW_kauffman_green.png", size:"80x80"), 'http://www.startupweekend.org/', target:'_blank' %>
		</p>
	</div>

	<div class="span4" align="center">
		<h4>Media Partners</h4>
		<p>
		<%= link_to image_tag("tnw.png", size:"70x70"), 'http://www.thenextwomen.com', target:'_blank'%>
		<%= link_to image_tag("fieldhouseLogo.jpg", size:"85x85"), 'http://www.fieldhouseassociates.com', target:'_blank'%>
		</p>
	</div> 

	<div class="span4" align="center">
		<h4>Hotel Partners</h4>
		<p>
			<%= link_to image_tag("Grange.jpg", size:"80x80"), 'http://www.grangehotels.com/', target:'_blank' %>
		</p>
	</div>

</div>

</div>