<div id="agenda">
<h1>Agenda</h1>
<h4>All events occur at The Grange Hotel, 10 Godliman Street, London EC4V 5AJX</h4>


<div id="schedule">
<span id="summit schedule">
<h2><strong>Summit Schedule</strong></h2>

<h3>Thursday June 27th<br><br></h3>

<h4><strong>Morning Program</strong>-Open to the Public</h4>
<table>
	<tr>
	<td>
		8am - 12pm
	</td>
	<td>
	
		<strong>Global Pitch Competition</strong><br>
		An event showcasing the most promising woman led companies from around the world.<a href="agenda#global pitch competition">Find out more</a>
	
	</td>
</tr>
	<tr>
	<td>
		12pm - 2pm
	</td>
	<td>
		
			Lunch and Panel: <i>Bold Entrepreneurs. Risky Business. Windows into Success.</i> With <a href="bios#ruth">Ruth Owades</a> and <a href="bios#nicola">Nicola Horlick</a>
		
	</td>
</tr>
</table>
<h4><strong>Afternoon Program</strong></h4>
<table>
<tr>
	<td>
		2:15pm - 3:45pm
	</td>
	<td>
		Salons - A Series
	</td>
</tr>
<tr>
	<td>
		4:00pm - 5:30pm
	</td>
	<td>
		<a href="agenda#b">Salons - B Series</a>
	</td>
</tr>
</table>

<h4><strong>Evening Program</strong></h4>
<table>
	<tr>
		<td>
			7pm
		</td>
		<td>
			Cocktails in the Atrium
		</td>
	</tr>
	<tr>
		<td>
			8pm
		</td>
		<td>
			<strong><%= link_to "Awards Dinner", 'agenda#awards dinner' %>:</strong> Celebrating great achievements in venture capital investment in women-led companies</strong><br>
		</td>
	</tr>
</table>
<br><br>
<h3>Friday June 28th<br><br></h3>
<h4><strong>Morning Program</strong></h4>
<table>
	<tr>
		<td>
			9:00am - 10:30am
		</td>
		<td>
			Salons - C Series
		</td>
	</tr>
	<tr>
		<td>
			10:45am - 11:45am
		</td>
		<td>
			Salons - D Series
		</td>
	</tr>
</table>
<h4><strong>Afternoon Program</strong></h4>
<table>
	<tr>
		<td>
			12:00pm - 2:00pm
		</td>
		<td>
			Lunch and Keynote<br>
			Keynote Address by <a href="bios#keynotes">Helena Morrissey</a>, CEO Newton Investments.
		</td>
	</tr>
</table>
<h4><strong>Late Afternoon Program</strong></h4>
<table>
	<tr>
		<td>
			2:00pm - 4:30pm
		</td>
		<td>
			Salons and Congress
		</td>
	</tr>
	<tr>
		<td>
			4:30pm - 5:00pm
		</td>
		<td>
			Closing remarks by the Alliance of Women Entrepreneurs, convening organization for the 2014 We Own It Summit.
		</td>
	</tr>
</table>
</div>
</span>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<span id="global pitch competition">
<div id="global">
	<h2><strong>Global Pitch Competition</strong></h2>
	<div id="pitch">
		<p>
			<%= link_to("Astia", 'http://www.astia.org/', target:'_blank') %> and <%= link_to("The NextWomen", 'http://www.thenextwomen.com/', target:'_blank') %> present<br>the <strong>2013 Global Pitch Competition</strong><br>in collaboration with the <%= link_to("2013 We Own It Summit", root_path, target:'_blank')%><br>
		</p>
	</div>
	<p>
		<strong>Seeking the most promising high-growth women-led companies from around the world</strong> to present on stage in London, UK on June 27th in front of an audience of preeminent venture capitalists and global investors.<strong> Compete for cash prizes, global visbility, and unequaled promotion, and networking opportunities.</strong><br>

		The top 5 applicants will be invited to pitch in front of an international audience at the Fourth Annual We Own It Summit. The top 20 finalists will be invited to attend the summit, participate in discussion salons lead by prominent players in the funding and entrepreneurship space, and network with investors and industry experts.<br>
	</p>
	<p>
		<strong>Applications Open!!</strong><br>
		<a href="https://gust.com/r/via_group/53762?conversationId=242922" class="btn btn-danger btn-large" target='_blank'>APPLY NOW</a><br>
				<strong>Deadline extended to June 1,2013!!!!</strong>
	</p>
	<p>
		Qualification Criteria<br>
		<ul>
			<li>An innovative product or offering in a high-growth sector such as Technology, Life Science, Clean Tech, or, in certain circumstances, high-growth Consumer products or services</li>
			<li>A high-growth investment opportunity - at any stage of growth</li>
			<li>An exceptional team, product, and business strategy</li>
			<li>A significant market opportunity with initial customer traction or feedback</li>
			<li>A defendable competitive advantage</li>
			<li>At least one woman in a leadership role (at C level) or in significant position of equity or influence</li>
		</ul>
	</p>
	<p>
	<%= link_to image_tag("astia.png", size:"350x350"), 'http://astia.org/', target:'_blank', id:"astia"%>
	<%= link_to image_tag("nextwomenmidsize.jpg", size:"220x220"), 'http://www.thenextwomen.com/', target:'_blank', id:"thenextwomen"%>
	</p>
	<div class="row">
		<div class="span12" align="center">
		<h4>Global Pitch Competition Sponsored By</h4>
		<p>
			<%= link_to image_tag("TSB.jpg", size:"250x250"), 'http://www.innovateuk.org/', target:'_blank'%><br><br>
			<%= link_to image_tag("gust.png", size:"50x50"), 'http://gust.com/', target:'_blank'%>
			<%= link_to image_tag("astiaangel2.jpg", size:"70x70"), 'http://astia.org/', target:'_blank' %>
			<%= link_to image_tag("SW_kauffman_green.png", size:"70x70"), 'http://startupweekend.org/', target:'_blank' %>
		</p>
	</div>
</div>
</span>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<span id="salon descriptions">
	<h2><strong>Salon Descriptions</strong></h2>
	<div id="schedule">


		<h4><a name="b"><strong> Salons - B Series</strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leaders & Moderators</strong>
				</td>
			</tr>
			<tr>
				<td>
					Women in Top Teams as an Investment Criteria - Good Business Sense
				</td>
				<td>
					How should investors value the presence of women entrepreneurs on the top team (as founders, executives, and board members) as a criteria for investment? How is this a sound investment decision? While Dow Jones confirms, "Companies have a greater chance of either going public, operating profitably, or being sold for more money than they've raised when they have females acting as founders, board members, C-level officers, vice presidents, and/or directors." (Dow Jones, 2012) - this is not part of the current day ethos. How do we chance the outdated thinking?
				</td>
				<td>
					<a href="bios#lorraine">Lorraine Spurge</a>(Thought Leader)<br>
					<a href="bios#yann">Yann Mauchamp</a>(Thought Leader)<br>
					<a href="bios#sharon">Sharon Vosmek</a>(Moderator)
				</td>
			</tr>
		</table>
	</div>
</span>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<span id="awards dinner">
<h2><strong>Awards Dinner</strong></h2>
<p>
The dinner will honor the venture firms across Europe in the following categories:
			<ul>
				<li><strong>Diversified Portfolio Award</strong>: European firm(s) with the largest percentage of investments in women CEOs or founder</li>
				<li><strong>Shattered Glass Award</strong>: European firm(s) with the greatest number of investments in companies with a woman CEO</li>
				<li><strong>Breaking the Barriers Award</strong>: European firm(s) with the greatest number of investments in companies with a female founder</li>
			</ul>
</p>
<p>
	Sponsored by <a href="http://thomsonreuters.com/">Thomson Reuters</a>
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson"%>
</p>

</span>
</div>
