<div id="agenda">

<div id="schedule">
<span id="summit schedule">
<h2><strong>Summit Schedule</strong></h2>
<h2>All events occur at The Grange Hotel, 10 Godliman Street, London EC4V 5AJX</h2>

<h3>Thursday June 27th<br><br></h3>

<h4><strong>Morning Program</strong></h4>
<table>
	<tr>
	<td>
		8:00am - 12:00pm
	</td>
	<td>
	
		<strong>Global Pitch Competition</strong><br>
		An event showcasing the most promising woman led companies from around the world.<a href="agenda#global pitch competition">Find out more</a>
	
	</td>
</tr>
	<tr>
	<td>
		12:00pm - 2:00pm
	</td>
	<td>
		
			Lunch and Panel: <i>Bold Entrepreneurs. Risky Business. Windows into Success.</i> With <a href="bios#ruth">Ruth Owades</a> , <a href="bios#nicola">Nicola Horlick</a> , and <a href="bios#janneke">Janneke Niessen</a>. Moderated by <a href="bios#jonathan">Jonathan Moules</a>
		
	</td>
</tr>
</table>
<h4><strong>Afternoon Program</strong></h4>
<table>
<tr>
	<td>
		2:15pm - 3:45pm
	</td>
	<td>
		<a href="agenda#a">Salons - A Series</a>
	</td>
</tr>
<tr>
	<td>
		4:00pm - 5:30pm
	</td>
	<td>
		<a href="agenda#b">Salons - B Series</a>
	</td>
</tr>
</table>

<h4><strong>Evening Program</strong></h4>
<table>
	<tr>
		<td>
			7:00pm
		</td>
		<td>
			Collaborator's Reception in the Atrium
		</td>
	</tr>
	<tr>
		<td>
			8:00pm
		</td>
		<td>
			<strong><%= link_to "Awards Dinner", 'agenda#awards dinner' %>:</strong> Tipping Point Awards Dinner with Keynote <%= link_to "Sallie Krawcheck", 'bios#sallie' %>: The We Own It Collaboration along with <%= link_to "Thomson Reuters", 'http://www.thomsonreuters.com' %> host a special evening celebrating great achievements in venture capital investments in women-led companies.<br>
		</td>
	</tr>
</table>
<br><br>
<h3>Friday June 28th<br><br></h3>
<h4><strong>Morning Program</strong></h4>
<table>
	<tr>
		<td>
			9:00am - 10:30am
		</td>
		<td>
			<a href="agenda#c">Salons - C Series</a>
		</td>
	</tr>
	<tr>
		<td>
			10:45am - 11:45am
		</td>
		<td>
			<a href="agenda#d">Salons - D Series</a>
		</td>
	</tr>
</table>
<h4><strong>Afternoon Program</strong></h4>
<table>
	<tr>
		<td>
			12:00pm - 2:00pm
		</td>
		<td>
			Lunch and Keynote<br>
			Keynote Address by <a href="bios#keynotes">Helena Morrissey</a>, CEO Newton Investments. Sponsored by <%= link_to("Bloomberg", 'http://www.bloomberg.com/', target:'_blank') %>
		</td>
	</tr>
</table>
<h4><strong>Late Afternoon Program</strong></h4>
<table>
	<tr>
		<td>
			2:15pm - 3:15pm
		</td>
		<td>
			<a href="agenda#onexone">OneXOne Conversations </a>
		</td>
	</tr>
	<tr>
		<td>
			3:30pm - 4:30pm
		</td>
		<td>
			Collaborator's Congress
		</td>
	</tr>
	<tr>
		<td>
			4:30pm - 4:45pm
		</td>
		<td>
			Closing Remarks by the Alliance of Women Entrepreneurs, convening organization for the 2014 We Own It Summit
		</td>
	</tr>
</table>
<br><br>
<h3>Saturday June 29th<br><br></h3>
<table>
	<tr>
		<td>
			8:30am - 5:30pm
		</td>
		<td>
			<strong>Women's High-Growth Entrepreneurship Academic Conference at the We Own It Summit</strong><br>
			In alliance with the We Own It Summit, the Kauffman Foundation is sponsoring an intimate academic conference aimed at bringing together experts and scholars from across disciplines such as law, finance, economics, management, marketing, and entrepreneurship to discuss current work on <strong>women high-growth entrepreneurs and their ventures.</strong><br><br>

			This one day conference on <strong>Saturday, June 29th</strong> (immediately following the main program of the We Own It Summit June 27 - June 28), will provide a forum for discussion of current and emerging work. We invite contributions that represent original, interesting, and ambitious research. Abstracts are due May 15, 2013<br><br>

			For academic conference information, please see: <%= link_to("Academic Conference", 'http://www.kauffman.org/womensresearch', target:'_blank') %><br><br>
			Co-Chairs: <a href="bios#alicia">Dr. Alicia Robb</a> and <a href="teresa">Dr.Teresa Nelson</a>
		</td>
	</tr>
</table>
</div>
</span>

<ul class="nav nav-list">
	<strong><li class="divider"></li></strong>
</ul>

<span id="global pitch competition">
<div id="global">
	<h2><strong>Global Pitch Competition</strong></h2>
<div id="pitch">
		<p>
			<h4><strong>Finalists Announced!</h4>
		<p>
			<h4><a href="WeOwnItSummitPressReleaseJune11.2013.pdf" target="_blank">Click Here</a> for Press Release</strong></h4><br>
		</p>
		<p>
			<%= link_to("Astia", 'http://www.astia.org/', target:'_blank') %> and <%= link_to("The NextWomen", 'http://www.thenextwomen.com/', target:'_blank') %> present<br>the <strong>2013 Global Pitch Competition</strong><br>in collaboration with the <%= link_to("2013 We Own It Summit", root_path, target:'_blank')%><br>
		</p>
	</div>
	<p>
		<strong> Five of the most promising high-growth women-led companies from around the world</strong> will present on stage in London, UK on June 27th in front of an audience of preeminent venture capitalists and global investors.<strong> Over 100 applicants were received. The top 5 finalists will compete for cash prizes, global visibility, and unequaled promotion, and networking opportunities.</strong><br>

		The top 5 applicants will be invited to pitch in front of an international audience at the Fourth Annual We Own It Summit.<br>
	</p>
	<div id="app">
	<p>
				<strong>The application process is now closed.</strong>
	</p>
	<p>
		Qualification Criteria<br>
		<ul>
			<li>An innovative product or offering in a high-growth sector such as Technology, Life Science, Clean Tech, or, in certain circumstances, high-growth Consumer products or services</li>
			<li>A high-growth investment opportunity - at any stage of growth</li>
			<li>An exceptional team, product, and business strategy</li>
			<li>A significant market opportunity with initial customer traction or feedback</li>
			<li>A defendable competitive advantage</li>
			<li>At least one woman in a leadership role (at C level) or in significant position of equity or influence</li>
		</ul>
	<p>
		<strong>Register to attend the pitch competition, taking place Thursday June 27th from 8am - 12pm. Registration is free to qualified investors, small suggested donation for the general public.<br>
		<%= link_to "Register to Attend", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
	</p>
	</div>
	<p>
	<%= link_to image_tag("astia.png", size:"350x350"), 'http://astia.org/', target:'_blank', id:"astia"%>
	<%= link_to image_tag("nextwomenmidsize.jpg", size:"220x220"), 'http://www.thenextwomen.com/', target:'_blank', id:"thenextwomen"%>
	</p>
	<div class="row">
		<div class="span12" align="center">
		<h4>Global Pitch Competition Sponsored By</h4></strong>
		<p>
			<%= link_to image_tag("TSB.jpg", size:"250x250"), 'http://www.innovateuk.org/', target:'_blank'%><br><br>
			<%= link_to image_tag("gust.png", size:"50x50"), 'http://gust.com/', target:'_blank'%>
			<%= link_to image_tag("astiaangel2.jpg", size:"70x70"), 'http://astia.org/', target:'_blank' %>
			<%= link_to image_tag("SW_kauffman_green.png", size:"70x70"), 'http://startupweekend.org/', target:'_blank' %>
		</p>
	</div>
</div>
</span>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<span id="salon descriptions">
	<h2><strong>Salon Descriptions</strong></h2>
	<p>
	Stay tuned for the announcement of Salons!
	</p>
	<div id="schedule">

		<h4><a name="a"><strong> Salons - A Series</strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leaders & Moderators</strong>
				</td>
			</tr>
			<tr>
				<td>
					Getting Investors to Take Their Wallets out of Their Pockets
				</td>
				<td>
					Pitch coach Sam Horn joins seasoned investors Jeanne Sullivan and Adam Quinton to discuss how high-growth entrepreneurs can:
					1)Packaging yourself and the message of your business for investment success<br>
					2)Make strategic choices about which investors to approach, considering all your finance options<br>
					3)Maximize your visibility to investors offline and online<br>
					and generally -- make it easier for investors to get to "yes".
				</td>
				<td>
					<a href="bios#sam">Sam Horn</a>, President, The Intrigue Agency- <i>Thought Leader</i><br>
					<a href="bios#jeanne">Jeanne Sullivan</a>, Founding General Partner, StarVest- <i>Moderator</i><br>
					<a href="bios#adam">Adam Quinton</a>, Founder, Lucas Point Ventures- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					Who, What, When, Where, How: An International Perspective on Outreach and Training of Women Investors
				</td>
				<td>
					The collaboration took a position to train 300 women investors (to include targeting women who have successfully exited). <i>How have we done? Where do we head?</i>
				</td>
				<td>
					<a href="bios#jackie">Jackie Waring</a>, Managing Director, Investing Women & Blue Horizons (Scotland) Ltd- <i>Thought Leader</i><br>
					<a href="bios#jenny">Jenny Tooth</a>, Director, Angel Capital Group- <i>Thought Leader</i><br>
					<a href="bios# jo anne">Jo Anne Miller</a>, Managing Director, Golden Seeds- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					Digging for Data on Women High-Growth Entrepreneurs - What Do We Know? What Do We Still Need to Know?
				</td>
				<td>
					At the first <i>We Own It Summit</i>, collaborators recognized that while there is substantial public and private data on women entrepreneurs generally, there is <i>very</i> little data on the subset of women high-growth entrepreneurs- and aspiring and realizing. Research ongoing to identify demographics and growth trajectories on this group and their businesses will be shared. What do we know and what do we still need to know?
				</td>
				<td>
					<a href="bios#suzanne">Dr. Suzanne Carter</a>, Social Scientist, Simmons School of Management- <i>Thought Leader</i><br>
					<a href="bios#alicia">Dr. Alicia Robb</a>, Senior Fellow, Kauffman Foundation- <i>Thought Leader</i><br>
					<a href="bios#teresanelson">Dr. Teresa Nelson</a>, Professor of Entrepreneurship Chair, Simmons School of Management- <i>Moderator</i>
				</td>
			</tr>

		</table>



		<h4><a name="b"><strong> Salons - B Series</strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leaders & Moderators</strong>
				</td>
			</tr>
			<tr>
				<td>
					Women in Top Teams as an Investment Criteria - Good Business Sense
				</td>
				<td>
					How should investors value the presence of women entrepreneurs on the top team (as founders, executives, and board members) as a criteria for investment? How is this a sound investment decision? While Dow Jones confirms, "Companies have a greater chance of either going public, operating profitably, or being sold for more money than they've raised when they have females acting as founders, board members, C-level officers, vice presidents, and/or directors." (Dow Jones, 2012) - this is not part of the current day ethos. How do we chance the outdated thinking?
				</td>
				<td>
					<a href="bios#lorraine">Lorraine Spurge</a>, Managing Director, APCO CAPITAL/Strategic Growth Alliance- <i>Thought Leader</i><br>
					<a href="bios#yann">Yann Mauchamp</a>, Founding CEO, Mutual Benefits- <i>Thought Leader</i><br>
					<a href="bios#sharon">Sharon Vosmek</a>, CEO, Astia- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					Millenials: A Great Entrepreneurial Power Ready to be Unlocked
				</td>
				<td>
					Millenials, also known as Generation Y (those born after 1980), are coming of age.  They differ from previous generations in that they are digital natives, are used to autonomy, are highly ambitious, and they have different life goals from previous generations. In this salon three millenials - with careers ranging from entrepreneurship to corporate finance - discuss their views on how to work most effectively with their generation as entrepreneurs and venture employees to unlock business opportunities and performance.
				</td>
				<td>
					<a href="bios#william">William McQuillan</a>, Partner, Frontline Ventures- <i>Thought Leader</i><br>
					<a href="bios#niamh">Niamh Corbett</a>, Vice President, Morgan Stanley- <i>Thought Leader</i><br>
					<a href="bios#hushpreet">Hushpreet Dhaliwal</a>, Chief Executive, NACUE- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					Mining the Metrics of Board Diversity
				</td>
				<td>
					This salon takes as its point of departure a board composition analysis of 4,000 public companies around the world drawn from Thomson Reuters Asset4 ESG data. Exploring the industry sectors and countries where gender diversity on corporate boards is most - and least - prevalent, the trends of the past 5 years, and the potential correlations of board diversity with performance and risk, the session seeks to spark informed dialogue on the metrics of women on boards and the business case for increasing their numbers. 
				</td>
				<td>
					<a href="bios#kimberley">Kimberley Cole</a>, Global Head of Marketing Operations, Thomson Reuters Financial & Risk Business- <i>Thought Leader</i><br>
				</td>
			</tr>
		</table>

		<h4><a name="c"><strong> Salons - C Series</strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leaders & Moderators</strong>
				</td>
			</tr>
			<tr>
				<td>
					Let's Get Real: Demystify the Female High-Growth Experience and Make Sure the Best Don't Opt Out
				</td>
				<td>
					Evolving from mid-growth to high-growth entrepreneurship requires an exceptional set of skills and determination. The unique evolutionary experience of female high-growth entrepreneurship does not necessarily mirror that of the male's experience or what the entrepreneur ecosystem is used to; yet there are amazing companies founded by women who have successfully navigated the high-growth path. <strong>Let's Get Real</strong> will: 
					1)demystify the uniqueness of the female entrepreneur experience at each stage of her business, including ideation, growth, post-exit;<br>
					2)identify opt out points at each of these stages, such as fundraising, VC relations, leading her business from mid to high-growth; Understand what WOI can do to stop women from selecting to opt out. Why do some women stick to it and others don't? Is opting out just another way of saying "culling"? How can WOI help the ones who make the cut off?
				</td>
				<td>
					<a href="bios#debbie">Debbie Schmidt</a>, COO, SAP- <i>Thought Leader</i><br>
					<a href="bios#patricia">Dr. Patricia Fletcher</a>, CEO, PSDNetwork- <i>Thought Leader</i><br>
					<a href="bios#heather">Heather Boggini</a>, COO, PSDNetwork- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					High-Growth, Social Venture, For-Profit Entrepreneurship
				</td>
				<td>
					Within the entrepreneurship space we are seeing increasingly complex organizational forms that have blurred the lines between for-profit and non-profit organizational design. Many are re-thinking the viability and attractiveness of funding socially minded ventures through philanthropy alone. Others see profit  to be made in social ventures that spark consumer interest when successfully positioned. We may be a a sea change moment when middle and upper income consumers are beginning to insert their values into their purchasing behavior in record numbers. Social entrepreneurship is no longer a side game. In this salon we explore these issues through outstanding case studies of women high growth entrepreneurs living their values in a high growth entrepreneurship environment. 
				</td>
				<td>
					<a href="bios#diana">Diana Verde Nieto</a>,Founder & CEO, Positive Luxury- <i>Thought Leader</i><br>
					<a href="bios#jennifer">Jennifer McFarlane</a>,CFO, Zyomyx- <i>Thought Leader</i><br>
					<a href="bios#lily">Lily Ash Sakula</a> <i>Thought Leader</i><br>
					<a href="bios#colette">Dr. Colette Henry</a>, Editor, International Journal of Gender and Entrepreneurship- <i>Moderator</i>
				</td>
			</tr>
			<tr>
				<td>
					Collaborating to Get More Women on Corporate Boards
				</td>
				<td>
					What does the collaboration between We Own It and various women on boards organizations look like? What are the mutual benefits and syneries in linking the worlds of corporate boards and the entrepreneurial community?
				</td>
				<td>
					<a href="bios#rowena">Rowena Ironside</a>, Chair, Women on Boards UK Ltd- <i>Thought Leader</i><br>
					<a href="bios#terry">Terry Barclay</a><br>, CEO, Inforum Center for Leadership- <i>Moderator</i><br>
					<a href="bios#mary">Mary Brevard</a>, Executive Director, BoardAccess Initiative, Inforum- <i>Moderator</i>
				</td>
				</tr>
				<tr>
					<td>
						News from the Front - Supporting Organizations for Women High-Growth Entrepreneurs
					</td>
					<td>
						What are lessons learned from regions that have had success attracting capital and building their entrepreneurial ecosystem? How do we leverage a region's assets to help women entrepreneurs build "fast-growth" companies? Where do women fit into the equation - as political and industry leaders, as investors and as entrepreneurs? Speakers from Philadelphia and Greater London will get the discussion rolling. What's happening there and what can we learn from those experiences?
					</td>
					<td>
						<a href="bios#bev">Bev Hurley</a>, Enterprising Women UK- <i>Thought Leader</i><br>
						<a href="bios#jane">Jane Hollingsworth</a>, Alliance of Women Entrepreneurs- <i>Thought Leader</i><br>
						<a href="bios#linda">Lina Resnick</a>, Alliance of Women Entrepreneurs- <i>Moderator</i>
					</td>
				</tr>
		</table>

		<h4><a name="d"><strong> Salons - D Series </strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leader(s) & Moderator</strong>
				</td>
			</tr>
			<tr>
				<td>
					Roundtable Discussions on Our We Own IT Collaboration: Please Join Any Group to Contribute
				</td>
				<td>
					Our group reflection after last year's Summit in NYC brought us back to our founding principles -- we are a collaboration across disciplines, across organization forms, committed to working together to celebrate and support women high growth entrepreneurs and their ventures. We choose to see the engagement of women entrepreneurs with a life cycle lens to include <i>women aspiring and growth entrepreneurs, women investors, and women board members, including scientific advisory board members.</i><br><br>
					
					<strong>
						So at this Summit, we want to gather as peers is share our best thoughts and opinions on the road forward. Generally -- what do we want our collaboration to be and how should it work? How do we build year-round intersections? More specifically, how do we make our aspirations happen? How do we want Summit 2014 in Philadelphia to move us forward. <br><br>

						We need your engagement. Please join us.</strong>
				</td>
				<td>
					<a href="bios#ida">Ida Beerhalter</a>, Co-Head, IOME- <i>Moderator</i><br>
					<a href="bios#teresanelson">Dr. Teresa Nelson</a>, Professor of Entrepreneurship Chair, Simmons School of Management- <i>Moderator</i><br>
					<a href="bios#victoriapettibone">Victoria Pettibone</a>, Summit Director, We Own It Summit- <i>Moderator</i>
				</td>
			</tr>
		</table>




		<h4><a name="onexone"><strong> OneXOnes </strong></a></h4>
		<table>
			<tr>
				<td>
					<strong>Title</strong>
				</td>
				<td>
					<strong>Description</strong>
				</td>
				<td>
					<strong>Thought Leader(s) & Moderator</strong>
				</td>
			</tr>
			<tr>
				<td>
					The Quest: Adding a Woman Non-Exec to the Board of Elements - A Case Study Discussion with Kevin Matthews
				</td>
				<td>
					Kevin Matthews, a non-exec on a FTSE 250 company - Elementis - shares news and ideas on his quest to put a woman on the board of a company that is predominantly male and that has never had a women at that level of the company.
				</td>
				<td>
					<a href="bios#kevin">Kevin Matthews</a>, CEO, Isogenica Limited- <i>Thought Leader</i>
				</td>
			</tr>
			<tr>
				<td>
					A Woman's Executive Career: Corporate, Entrepreneur, Advocate, Investor, Board Member
				</td>
				<td>
					Two women with rich careers in varied organizations, contexts, and roles over 20 years, will discuss how they approached their professional lives, found ways to integrate their values into their work, used networking, handeled failures and achieved important milestones. They will also share their trips to entrepreneurs and early stage investors.
				</td>
				<td>
					<a href="bios#bridgitte">Brigitte Baumann</a>, CEO, Go Beyond Early Stage Investing- <i>Thought Leader</i><br>
					<a href="bios#ida">Ida Beerhalter</a>, Co-Head, IOME- <i>Thought Leader</i>
				</td>
			</tr>
			<tr>
				<td>
					The Value of Peer Power - Does It Influence the Growth Journey?
				</td>
				<td>
					Peers play a key role in helping women entrepreneurs to build their businesses at all stages of growth. They can provide inspiration, seed capital, emotional support, access to investors, ideas, challenge, knowledge, and a sense of community. So how does it work out in reality? Sue Stockdale interviews two women running growth companies to discover how and when they have benefited from peer power in their business growth journey, and how the wider community can learn from this experience.
				</td>
				<td>
				</td>
			</tr>
		</table>


	</div>
</span>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>

<span id="awards dinner">
<div class="awards">
<h2><strong>Tipping Point Awards Dinner</strong></h2>
The We Own It Collaboration along with <%= link_to "Thomson Reuters", 'http://www.thomsonreuters.com', target:'_blank'%> hosts a special evening celebrating great achievements in venture capital investments in women-led companies.
<p>
	Thursday June 27th, 2013<br>
	8:00pm
<p>
	The Grange St.Paul's Hotel<br>
	10 Godliman Street, London
<p>
	<strong>Keynote Address by <a href="bios#sallie">Sallie Krawcheck</a></strong><br><br>
<p>
	<h4><strong>The Tipping Point Award Winners</strong><br></h4>
	<i>For the European Firms with the greatest number of Investments in Women-led Companies according to data provided by <%= link_to "Astia", 'http://www.astia.org', target:'_blank' %> by Dow Jones VentureSource for investment year 2012:</i>
<p>
	Venture Capital Firm:
<p>
	<strong>High-Tech Gruenderfonds Management GmbH</strong>
<p>
	Corporate Venture:
<p>
	<strong>Telefonica Digital Capital Venture and Wayra, the Accelerator of Telefonica</strong>
<p>
	
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank'%>
</p>
</div>

</span>
</div>
