<h1>Summit Bios</h1>
<div id=keynotes>
	<span id="keynotes">
		<h2>Keynotes and Panelists</h2>
		<h3>Helena Morrissey</h3><h4> (Friday June 18th Keynote Speaker)</h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("Helena_Morrissey_March_2012.JPG", alt:"Helena Morrissey", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
					Helena joined Newton in 1994 as a fixed income fund manager and was appointed CEO in 2001. During her time running Newton's bond funds she was twice-winner of Investment Week's Global Bond Fund Manager of the year.<br>

					Helena is involved in many aspects of the UK fund management industry and was named the Financial News 'Most Influential Woman in European Asset Management' in 2010. She was the first female director of the UK's Investment Management Association, serving from 2005 till 2012. She represents the investment industry on the FSA's Practitioner Panel, a statutory body providing input to the regulators from practitioners' perspectives. She is a member of the University of Cambridge Endowment Investment Board and chairman of the Eve Appeal, which funds research into gynaecological cancers. Helena was recently appointed chairman of the Royal Academy's Corporate Board.<br>

					In 2010, Helena founded the 30% Club, a cross-business initiative aimed at achieving 30% women on UK corporate boards by 2015 through voluntary, business-led change. She was appointed CBE in the 2012 New Year's Honours list.<br>

					A Cambridge philosphy graduate, she began her career as a global bond analyst with Schroders in New York. She is married with nine children.
					</p>
				</td>
			</tr>
		</table>
		<h3>Nicola Horlick</h3>
		<h4>(Thursday June 27th Panelist)</h4>
		<table>
			<col style="width:20%">
			<col style="width:80%">
				<tr>
					<td class="key-img">
						<%= image_tag("NicolaHorlick2.jpg", alt:"Nicola Horlick", id:"bio") %>
					</td>
					<td id="bio-info">
						<p>
							Nicola read Jurisprudence at Balliol College, Oxford. In 1983, she joined S.G. Warburg as a graduate trainee. She worked with Leonard Licht, one of the leading fund managers in the City during the 1980s, and together, they built up the Specialist Equity team of what became Mercury Asset Management, and Nicola was appointed a director of Mercury in 1989. <br>
						
							In 1991, Nicola moved to Morgan Grenfell Asset Management and she was appointed Managing Director of the UK business in 1992. Over the following five years, funds under management increased from £4 billion to £22 billion and Morgan Grenfell became recognised as one of the leading managers of UK pension funds. <br>
						
							In 1997, Nicola left Morgan Grenfell and set up SG Asset Management for the French bank, Société Générale. The initial target for funds under management was £5 billion in five years. This target was reached after two years and within three years, funds under management had reached £7 billion.<br>
						
							In 2004, Nicola set up Bramdean Asset Management LLP with Sir Derek Higgs and the business was launched at the beginning of 2005. Bramdean ran a number of alternative investment mandates before selling the bulk of its business to Aberdeen Asset Management at the end of 2009. Bramdean continued to create and structure innovative new investment vehicles, primarily for the film industry. Nicola is now Chairman of Rockpool Investments LLP, a new investment boutique which invests in private equity deals on behalf of high net worth investors and creates tax-efficient vehicles to facilitate this.
						</p>
					</td>
				</td>
			</table>
			<h3>Ruth Owades</h3>
			<h4>Thursday June 27th Panelist</h4>

	</span>
</div>
	

	<span id="salon leaders and moderators">
		<h2>Salon Leaders and Moderators</h2>
		<p>
			
		</p>
	</span>

	

	<span id="2013 Collaboration">
		<h2>2013 Collaboration</h2>
		<div id="collabs">
		<p>
		<table>
			<tr>
				<td>
					<ul>
						<li><%= link_to "85 Broads", 'http://www.85broads.com/', target:'_blank' %></li>
						<li><%= link_to "Alliance of Women Entrepreneurs", 'http://www.phillyawe.org/', target:'_blank' %></li>
						<li><%= link_to "American Express", 'https://www.americanexpress.com/', target:'_blank' %></li>
						<li><%= link_to "Anita Borg Institute for Women & Technology", 'http://anitaborg.org/', target:'_blank' %></li>
						<li><%= link_to "Arizona State University", 'http://www.asu.edu/', target:'_blank' %></li>
						<li><%= link_to "Astia Angel", 'http://astia.org/', target:'_blank' %></li>
						<li><%= link_to "Babson College", 'http://www.babson.edu/Pages/default.aspx', target:'_blank' %></li>
						<li><%= link_to "Bateau Ventures", 'http://www.bateauventures.com/', target:'_blank' %></li>
						<li><%= link_to "BioLauncher Ltd.", 'http://biolauncher.com/', target:'_blank' %></li>
						<li><%= link_to "Board Pool International", '', target:'_blank' %></li>
					
				
					<li><%= link_to "California State University, Northridge", 'http://www.csun.edu/', target:'_blank' %></li>
					<li><%= link_to "Capital Perception", 'http://www.capitalperception.com/', target:'_blank' %></li>
					<li><%= link_to "Center for Entrepreneurial Studies", 'http://www.gsb.stanford.edu/ces', target:'_blank' %></li>
					<li><%= link_to "CEO Resources", 'http://www.ceoresources.com/', target:'_blank' %></li>
					<li><%= link_to "Delta Economics", 'http://www.deltaeconomics.com/', target:'_blank' %></li>
					<li><%= link_to "EC1 Capital", 'http://www.ec1capital.com/', target:'_blank' %></li>
					<li><%= link_to "Enterprise Works Chicago", 'http://www.researchpark.illinois.edu/', target:'_blank' %></li>
					<li><%= link_to "Enterprising Women", 'http://enterprisingwomen.com/', target:'_blank' %></li>
					<li><%= link_to "Ewing Marion Kauffman Foundation", 'http://www.kauffman.org/', target:'_blank' %></li>
					<li><%= link_to "FYSE", 'http://www.fyse.org/', target:'_blank' %></li>
				</ul>	
				</td>
				<td>
				<ul>
					<li><%= link_to "Girls in Tech", 'http://www.girlsintech.org/', target:'_blank' %></li>
					<li><%= link_to "Global Ventures", 'https://globalventures.tv/', target:'_blank' %></li>
					<li><%= link_to "Golden Ventures", 'http://goldenvp.com/', target:'_blank' %></li>
					<li><%= link_to "Golden Seeds", 'http://www.goldenseeds.com/', target:'_blank' %></li>
					<li><%= link_to "GP Bullhound", 'http://www.gpbullhound.com/', target:'_blank' %></li>
					<li><%= link_to "IdentityWoman", 'http://www.identitywoman.net/', target:'_blank' %></li>
					<li><%= link_to "Illuminate Ventures", 'http://www.illuminate.com/', target:'_blank' %></li>
					<li><%= link_to "Imperial College Business School", 'http://www3.imperial.ac.uk/business-school', target:'_blank' %></li>
					<li><%= link_to "Inforum Center for Leadership", 'https://www.inforummichigan.org/home', target:'_blank' %></li>
					<li><%= link_to "International Museum of Women", 'http://www.imow.org/home/index', target:'_blank' %></li>
				
					<li><%= link_to "IOME Group", '', target:'_blank' %></li>
					<li><%= link_to "Lucas Point Ventures", 'http://www.lucasvg.com/', target:'_blank' %></li>
					<li><%= link_to "Maryland Center for Entrepreneurship", 'http://www.hceda.org/maryland-center-for-entrepreneurship.aspx', target:'_blank' %></li>
					<li><%= link_to "MIT", 'http://www.mit.edu/', target:'_blank' %></li>
					<li><%= link_to "Mutual Benefits", 'http://www.mutualbenefitgroup.com/', target:'_blank' %></li>
					<li><%= link_to "National Center for Women and Information Technology", 'http://www.ncwit.org/', target:'_blank' %></li>
					<li><%= link_to "Northzone", 'http://www.northzone.com/', target:'_blank' %></li>
					<li><%= link_to "OPPORTUNITIES-PA", 'http://www.opportunitiespa.org/', target:'_blank' %></li>
					<li><%= link_to "PSDNetwork LLC", 'http://www.psdnetwork.com/', target:'_blank' %></li>
					<li><%= link_to "She's Geeky", 'http://shesgeeky.org/', target:'_blank' %></li>
				</ul>
				</td>
				<td>
				<ul>
					<li><%= link_to "Simmons College", 'http://www.simmons.edu/', target:'_blank' %></li>
					<li><%= link_to "Slalom Consulting", 'http://www.slalom.com/', target:'_blank' %></li>
					<li><%= link_to "SmartGirls Way", 'http://www.smartgirlsway.com/', target:'_blank' %></li>
					<li><%= link_to "Springboard Enterprises", 'http://www.springboardenterprises.org/', target:'_blank' %></li>
					<li><%= link_to "Springworks", 'http://springworks.org/', target:'_blank' %></li>
					<li><%= link_to "StartOut", 'http://startout.org/', target:'_blank' %></li>
					<li><%= link_to "Startup America Partnership", 'http://www.s.co/', target:'_blank' %></li>
					<li><%= link_to "Startup Weekend", 'http://startupweekend.org/', target:'_blank' %></li>
					<li><%= link_to "The Clayman Institute for Gender Research", 'http://gender.stanford.edu/', target:'_blank' %></li>
					<li><%= link_to "The Next Women", 'http://www.thenextwomen.com/', target:'_blank' %></li>
				
					<li><%= link_to "The Op Ed Project", 'http://www.theopedproject.org/', target:'_blank' %></li>
					<li><%= link_to "The Story Exchange", 'http://thestoryexchange.org/', target:'_blank' %></li>
					<li><%= link_to "Tier One Partners", 'http://www.tieronepr.com/', target:'_blank' %></li>
					<li><%= link_to "Train 2000", 'http://www.train2000.org.uk/', target:'_blank' %></li>
					<li><%= link_to "U.S. Black Chamber, Inc.", 'http://www.usblackchamber.org/', target:'_blank' %></li>
					<li><%= link_to "We Connect Europe", 'http://www.weconnecteurope.org/', target:'_blank' %></li>
					<li><%= link_to "WET Productions", 'http://www.wetproductions.com/', target:'_blank' %></li>
					<li><%= link_to "Women 2.0", 'http://www.women2.com/', target:'_blank' %></li>
					<li><%= link_to "Women Equity for Growth", 'http://www.women-equity.org/', target:'_blank' %></li>
					<li><%= link_to "Women on Boards, UK", 'http://www.womenonboards.co.uk/', target:'_blank' %></li>
				
					<li><%= link_to "Women Presidents Organization", 'http://www.womenpresidentsorg.com/', target:'_blank' %></li>
					<li><%= link_to "x.Million Capital", 'http://www.xmillioncapital.eu/', target:'_blank' %></li>
				</ul>
				</td>


			</tr>
		</table>
	</p>
	</span>
</div>


