<h1>Summit Bios</h1>
<div id=keynotes>
	<span id="keynotes">
		<h2>Keynotes and Panelists</h2>

		<h3><a name="sallie">Sallie Krawcheck</a></h3>
		<h4> Thursday June 28th Awards Dinner Keynote Speaker</h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("Sallie.png", alt:"Sallie Krawcheck", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						With a reputation for integrity, independence of thought, a sense of humor and an unrelenting focus on results, Sallie Krawcheck has often been referred to as one of the most successful and influential executives in financial services. From turning around and growing troubled wealth management businesses to eliminating Wall Street conflicts of interest and advocating a true client-centered business model, Fortune Magazine called her "The Last Honest Analyst" during her tenure at Sanford Bernstein. After years spent as the guardian of such brands as Smith Barney, Merrill Lynch, and US Trust, Krawcheck's long run as a successful public company executive was upended in 2011 in a management shake up that would transform the next stretch of her professional life. A renewed focus on her passions - women in business, regulatory reform, and investor protection - has made Krawcheck a sought-after business and financial services industry expert for both traditional and non-traditional media, as well as in Washington, D.C. Krawcheck's embrace of social media as a means of including more people in her frank business conversations has garnered her more than 190,000 (and growing) followers as one of LinkedIn's INfluencers and 17,000 followers on Twitter. She recently combined a number of these interests in her investment in 85 Broads, a 30,000-strong global professional woman's network. A Tar Heel fan through and through, Krawcheck also spends her time advising start-up companies, focusing on education-oriented philanthropy and serving on a variety of boards.
					</p>
				</td>
			</tr>
		</table>



		<h3>Helena Morrissey</h3>
		<h5>CEO Newton Investment Management Ltd.</h5>
		<h4> Friday June 28th Keynote Speaker</h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("Helena_Morrissey_March_2012.JPG", alt:"Helena Morrissey", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
					Helena joined Newton in 1994 as a fixed income fund manager and was appointed CEO in 2001. During her time running Newton's bond funds she was twice-winner of Investment Week's Global Bond Fund Manager of the year.<br>

					Helena is involved in many aspects of the UK fund management industry and was named the Financial News 'Most Influential Woman in European Asset Management' in 2010. She was the first female director of the UK's Investment Management Association, serving from 2005 till 2012. She represents the investment industry on the FSA's Practitioner Panel, a statutory body providing input to the regulators from practitioners' perspectives. She is a member of the University of Cambridge Endowment Investment Board and chairman of the Eve Appeal, which funds research into gynaecological cancers. Helena was recently appointed chairman of the Royal Academy's Corporate Board.<br>

					In 2010, Helena founded the 30% Club, a cross-business initiative aimed at achieving 30% women on UK corporate boards by 2015 through voluntary, business-led change. She was appointed CBE in the 2012 New Year's Honours list.<br>

					A Cambridge philosphy graduate, she began her career as a global bond analyst with Schroders in New York. She is married with nine children.
					</p>
				</td>
			</tr>
		</table>
		<h3><a name="nicola">Nicola Horlick</a></h3>
		<h4>Thursday June 27th Panelist</h4>
		<table>
			<col style="width:20%">
			<col style="width:80%">
				<tr>
					<td class="key-img">
						<%= image_tag("NicolaHorlick3.jpg", alt:"Nicola Horlick", id:"bio") %>
					</td>
					<td id="bio-info">
						<p>
							Nicola read Jurisprudence at Balliol College, Oxford. In 1983, she joined S.G. Warburg as a graduate trainee. She worked with Leonard Licht, one of the leading fund managers in the City during the 1980s, and together, they built up the Specialist Equity team of what became Mercury Asset Management, and Nicola was appointed a director of Mercury in 1989. <br>
						
							In 1991, Nicola moved to Morgan Grenfell Asset Management and she was appointed Managing Director of the UK business in 1992. Over the following five years, funds under management increased from £4 billion to £22 billion and Morgan Grenfell became recognised as one of the leading managers of UK pension funds. <br>
						
							In 1997, Nicola left Morgan Grenfell and set up SG Asset Management for the French bank, Société Générale. The initial target for funds under management was £5 billion in five years. This target was reached after two years and within three years, funds under management had reached £7 billion.<br>
						
							In 2004, Nicola set up Bramdean Asset Management LLP with Sir Derek Higgs and the business was launched at the beginning of 2005. Bramdean ran a number of alternative investment mandates before selling the bulk of its business to Aberdeen Asset Management at the end of 2009. Bramdean continued to create and structure innovative new investment vehicles, primarily for the film industry. Nicola is now Chairman of Rockpool Investments LLP, a new investment boutique which invests in private equity deals on behalf of high net worth investors and creates tax-efficient vehicles to facilitate this.
						</p>
					</td>
				</td>
			</table>
			<h3><a name="ruth">Ruth Owades</a></h3>
			<h4>Thursday June 27th Panelist</h4>
			<table>
			<col style="width:20%">
			<col style="width:80%">
				<tr>
					<td class="key-img">
					<%= image_tag("ruth.jpg", alt:"Ruth Owades", id:"bio") %>
					</td>
				<td id="bio-info">
					<p>
						Ruth Owades is an entrepreneur, CEO and corporate director. The companies she founded are subjects of Harvard Business School case studies and are taught around the world. Gardener's Eden pioneered direct sales of upscale garden tools, accessories and furniture. Three years after founding the company, she sold it to Williams-Sonoma.<br>

						With Calyx and Corolla, the first fresh flower catalog and website, Ms. Owades reinvented the floral distribution system by eliminating middlemen and shipping flowers directly from growers to consumers. She sold Calyx and Corolla to an investor group.<br>

						Ms. Owades serves on the boards of Newsy, Northern Trust Corporation Western Region, and the diaTribe Foundation, and has been on the boards of Armstrong World Industries, Deckers Outdoor Corporation, the J. Jill Group, and Providian Financial Corporation. She has also served on the Board of Dean's Advisors for Harvard Business School and the Scripps College Board of Trustees.<br>

						Business Week hailed Ms. Owades as a "Best Entrepreneur". She was awarded the Alumni Achievement Award from Harvard Business School. the Distinguished Alumni Award from Scipps College, and the Lifetime Achievement Medal from the Fulbright Association.<br>

						A frequent lecturer on entrepreneurship, branding, strategic alliances and corporate governance, Ms. Owades has been a guest speaker at Google, IBM, Harvard Business School, Stanford Graduate School of Business, Oxford University and California Institute of Technology. She will be the 2013 commencement speaker at Scripps College. 
					</p>
				</td>
			</tr>
		</table>


		
	</span>
</div>

<br><br>
	
<div id=keynotes>
	<span id="salon leaders and moderators">
		<h2>Salon Leaders and Moderators</h2>



		<h3><a name="sam">Sam Horn</a></h3>
		<h4><a href="agenda#a">"Getting Investors to Take Their Wallets out of Their Pockets", Thought Leader</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("SamHorn5resized.jpg", alt:"Sam Horn", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						<strong>Sam Horn, The Intrigue Expert</strong>, has a 25+ year track record as a communication strategist with international clients including Cisco, Fortune 500 Forum, MPI, Intel, NASA, and Four Seasons Resorts. 
					<p>
						As President of Sam Horn Keynotes-Consulting-Creative since 1981 (and The Intrigue Agency since 2010), she was twice the top-ranked speaker at the International Platform Assn. and has presented to more than a half million people worldwide and for hundreds of organizations including INC 500, National Governors Assn., Boeing, U.S. Navy & U.S. Chamber of Commerce. 
					<p>
						Sam is a frequent media resource who's been interviewed on all the network TV and radio shows (NBC, ABC, CBS, FOX) in every major city (New York to LA, Seattle to Chicago) and on NPR, MSNBC, Bloomberg, and Sirius. She was featured on The Tonight's Show Pitch segment and showcased to To Tell the Truth (where she and her Tongue Fu! Team stumped the panel). 
					<p>
						Sam has been profiled, quoted, or reviewed in dozens of publications (i.e., Washington Post, New York Times, Investors Business Daily, Chicago Tribune, Readers Digest, BusinessWeek). She serves as Pitch Coach for British Airwars Face2Face competition, USA Today Perfect Pitch and Springboard Enterprises which has helped entrepreneurs receive $5.5 billion in funding.
					<p>
						Sam has authored 5 books from major publishers (i.e., POP!, ConZentrate, Tongue Fu!) which have been translated into 12 languages (Chinese, Japanese, Spanish) and favorably reviewed/endorsed by such thought leaders as D. Stephen Covey and Seth Godin who says "One-third of the way through POP!, you'll be begging to hire Sam Horn as your consultant."
					<p>
						17-time Emcee (and former Exec. Director) of the Maui Writers Conference and chair of their annual Non-Fiction Retreat (has shared a stage with Ron Howard, Aaron Sorkin, Mitch Albom.). As a marketing/branding expert since 1991, she's helped hundreds of clients create legacy messages & one-of-a-kind projects that helped them break out vs. blend in. A partial list of clients includes Terry Jones, (founder of Travelocity), Betsy Myers, (COO of President Obama's campaign), Charlie Pellerin, (Hubble Telescope), and Larry Lynch, (Exec. Director of Disney Institute).
						<p>
							Sam hosts Strategic Retreats, SerenDestiny Studios, and Scenius Salons at the National Press Club, at Kripalu Wellness Center on both coasts. These RAH (rising tide Raising All Human) experiences focus on creating a collaborative community in which everyone has a voice, everyone counts, everyone contributes, receives, and all creative endeavors are elevated.
						</p>
					</td>
				</tr>
			</table>


		<h3><a name="yann">Yann Mauchamp</a></h3>
		<h4><a href="agenda#b">"Women in Top Teams as an Investment Criteria - Good Business Sense", Thought-Leader</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("yann.png", alt:"Yann Mauchamp", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						Yann is the founding CEO of <a href="http://www.mutualbenefits.net">Mutual Benefits</a>, strategic advisory netowrk dedicated to digital economy players.
					<p>
						He personally advised 50+ startups, CEOs, and VCs since 2002 including SecondMarket, IRIS Capital, DaWanda, Babbel, Pay-ON, Blacksocks, Statigram, FON, and XING. His missions include mentoring, headhunting, international expansion, and corporate strategy. 
					<p>
						Business angel from time to time, Yann always enjoys giving business guidance to (ambitious) geeks, (talented) artists, and (real) change makers. Yann is a mentor and a volunteer for innovators' and entrepreneurs' networks: Astia, Innotribe, the International Venture Club, Seedcamp, and The TechTour Foundation.
					<p>
						Prior to that, Yann co-founded Club Internet in 1995 (ISP sold to T-Online), managed the operations of Studio Grolier (web agency) until 1999, was the Managing Director Europe of NewsAlert and the CEO of Asia Pacific of Inlumen (CMS sold to Dow Jones in 2004). 
					<p>
						Yann, a French citizen, lives in Paris and practices Yoga, and (only great) fooding.
					</p>
				</td>
			</tr>
		</table>

		<h3><a name="lorraine">Lorraine Spurge</a></h3>
		<h4><a href="agenda#b">"Women in Top Teams as an Investment Criteria - Good Business Sense", Thought-Leader</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("LSpugepicresized.jpg", alt:"Lorraine Spurge", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						Ms. Spurge has more than 30 years of experience in the financial services industry. She started her finance career in the 1970's, and became one of the most successful women on Wall Street. She was the manager of the capital markets group for Drexel Burnham Lambert during the 1980's. At Drexel Burnham, she helped raise capital of more than $200 billion to finance many middle-market growth companies. After Drexel, she founded the International Capital Access Group designed to provide women and minorities access to growth capital. Starting in 2001, she helped build the corporate credit investment management business for several firms including Metropolitan West Financial, Post Advisory Group, and was instrumental in the development of durable and strong institutional enterprises.
					</p>
				</td>
			</tr>
		</table>


		<h3><a name="jeanne">Jeanne Sullivan</a></h3>
		<h4><a href="agenda#a">"Getting Investors to Take Their Wallets out of Their Pockets", Moderator</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("JSullivanpicresized.jpg", alt:"Jeanne Sullivan", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						Jeanne M. Sullivan has been investing in and growing tech companies for many years. She is founding General Partner of StarVest Partners. Jeanne has over 23 years of venture capital experience and has spent 30 years in the technology sector encompassing both extensive operating and investing experience with technology companies. Ms. Sullivan has extensive experience creating "go to market" plans for early and expansion stage companies. Her expertise also includes strategy, a keen understanding of the technology landscape and industry trends. Prior to her venture experience, Jeanne gained her operating experience with AT&T and Bell Labs while serving in product and industry marketing roles.
					<p>
						Ms. Sullivan is a sought-after industry speaker on the subject of "how to get the wallets out of investors' pockets." Jeanne serves on the board of the New York Venture Capital Association that serves as a member of the Astia Global Board of Trustees, an organization that empowers women entrepreneurs. Forbes recently cited Sullivan as "one of the women VC's changing the world - grooming the next generation of female entrepreneurs."
					<p>
						Jeanne can be reached via <a href="http://www.twitter.com/gianna212"> @gianna212</a>
					</p>
				</td>
			</tr>
		</table>



		<h3><a name="adam">Adam Quinton</a></h3>
		<h4><a href="agenda#a">"Getting Investors to Take Their Wallets out of Their Pockets", Moderator</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("AQuintonpicresized.jpg", alt:"Adam Quinton", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						Adam Quinton is an active investor in and advisor to early stage companies. Adam is a member of the Global Advisory Board for Astia, a Founding Angel at Astia Angel and a Managing Director at Golden Seeds. He is also an Advisor for Topstone Angels. He serves as a Mentor for 37 Angles and the Women Innovate Mobile accelerator program and is a Pipeline Fellowship Ambassador. He supports Women2.0 as a first stage judge for their San Francisco and New York pitch competitions.
					<p>
						Adam is a Board member at Thrive Metrics. He serves on the Advisory Board of Leading Board and executive search firm RSR Partners as well as New York based Nopsec, Philadelphia based Cloudamize and San Francisco based SwoopTalent. 
					<p>
						In the not for profit space, he is a Trustee of International House New York and a member of their Executive Committee. He is a Board member at the Center for Talent Innovation. 
					<p>
						Adam has over 25 years of investing and management experience most recently at Bank of America Merrill Lynch where he was Managing Director and head of Global Macro Research. He was a top ranked sell side investment analyst in the UK, Asia, and the US. 
					<p>
						Additionally he is an Adjunct Associate Professor at Columbia University, School of International and Public Affrairs where he is a Capstone workshop advisor and member of the Management and Gender & Policy faculties.
					<p>
						He holds a MA in Natural Sciences from Cambridge University and an MBA from Cass Business School, London.
					</p>
				</td>
			</tr>
		</table>



		<h3><a name="sharon">Sharon Vosmek</a></h3>
		<h4><a href="agenda#b">"Women in Top Teams as an Investment Criteria - Good Business Sense", Moderator</a></h4>
		<table>
		<col style="width:20%">
		<col style="width:80%">
			<tr>
				<td class="key-img">
					<%= image_tag("SVosmekpicresized.jpg", alt:"Sharon Vosmek", id:"bio") %>
				</td>
				<td id="bio-info">
					<p>
						Sharon Vosmek has been CEO of Astia since 2007, previously joining as COO in 2004. As CEO of Astia, Sharon has an unwavering passion and a uniquely well-suited background to drive forward the organization's mission of propelling women's full participation as entrepreneurs and leaders in high-growth businesses, fueling innovation, and driving economic growth. Under her guidance, the Astia community of investors, entrepreneurs, and industry leaders has grown ten-fold and now spans North America, Europe, South America, and India.
					<p>
						Previously, Sharon founded SJ Vosmek & Associates and held management positions at American Express and in the office of U.S. Senator Dennis Deconcini. Ms Vosmek currently serves as a founder and lead of the We Own It Collaboration, an effort of over 65 organizations globally committed to exploring women's participation in high-growth businesses and identifying solutions to move us forward. She also serves on the Advisory Board of StarVest Partners, the Stevenage Bioscience Catalyst Experts Advisor Group, and Illuminate Ventures Advisory Board. Formerly she served in Secretary Clinton's Private Sector Working Group to the APEC meetings and the city of San Francisco Mayor's Commission on Biotech (MayBAC). 
					<p>
						Sharon has a Master's in Public Policy and Administration from the University of Wisconsin, Madison and a Bachelor's in Political Science from Arizona State University.
					</p>
				</td>
			</tr>
		</table>





	</span>
</div>


	

	<span id="2013 Collaboration">
		<h2>2013 Collaboration</h2>
	<div id="collabs">
		<p>
		<table>
			<tr>
				<td>
					<ul>
						<li><%= link_to "85 Broads", 'http://www.85broads.com/', target:'_blank' %></li>
						<li><%= link_to "Alliance of Women Entrepreneurs", 'http://www.phillyawe.org/', target:'_blank' %></li>
						<li><%= link_to "American Express", 'https://www.americanexpress.com/', target:'_blank' %></li>
						<li><%= link_to "Anita Borg Institute for Women & Technology", 'http://anitaborg.org/', target:'_blank' %></li>
						<li><%= link_to "Arizona State University", 'http://www.asu.edu/', target:'_blank' %></li>
						<li><%= link_to "Astia Angel", 'http://astia.org/', target:'_blank' %></li>
						<li><%= link_to "Babson College", 'http://www.babson.edu/Pages/default.aspx', target:'_blank' %></li>
						<li><%= link_to "Bailey Fisher Executive Search", 'http://www.baileyfisher.com', target:'_blank' %></li>
						<li><%= link_to "Bateau Ventures", 'http://www.bateauventures.com/', target:'_blank' %></li>
						<li><%= link_to "BioLauncher Ltd.", 'http://biolauncher.com/', target:'_blank' %></li>
						<li><%= link_to "Board Pool International", '', target:'_blank' %></li>
					
				
					<li><%= link_to "California State University, Northridge", 'http://www.csun.edu/', target:'_blank' %></li>
					<li><%= link_to "Capital Perception", 'http://www.capitalperception.com/', target:'_blank' %></li>
					<li><%= link_to "Center for Entrepreneurial Studies", 'http://www.gsb.stanford.edu/ces', target:'_blank' %></li>
					<li><%= link_to "CEO Resources", 'http://www.ceoresources.com/', target:'_blank' %></li>
					<li><%= link_to "Delta Economics", 'http://www.deltaeconomics.com/', target:'_blank' %></li>
					<li><%= link_to "EC1 Capital", 'http://www.ec1capital.com/', target:'_blank' %></li>
					<li><%= link_to "Enterprise Works Chicago", 'http://www.researchpark.illinois.edu/', target:'_blank' %></li>
					<li><%= link_to "Enterprising Women", 'http://enterprisingwomen.com/', target:'_blank' %></li>
					<li><%= link_to "Ewing Marion Kauffman Foundation", 'http://www.kauffman.org/', target:'_blank' %></li>
					
					<li><%= link_to "FYSE", 'http://www.fyse.org/', target:'_blank' %></li>


				</ul>	
				</td>
				<td>
				<ul>
					<li><%= link_to "Girls in Tech", 'http://www.girlsintech.org/', target:'_blank' %></li>
					<li><%= link_to "Global Ventures", 'https://globalventures.tv/', target:'_blank' %></li>
					<li><%= link_to "Golden Ventures", 'http://goldenvp.com/', target:'_blank' %></li>
					<li><%= link_to "Golden Seeds", 'http://www.goldenseeds.com/', target:'_blank' %></li>
					<li><%= link_to "GP Bullhound", 'http://www.gpbullhound.com/', target:'_blank' %></li>
					<li><%= link_to "IdentityWoman", 'http://www.identitywoman.net/', target:'_blank' %></li>
					<li><%= link_to "Illuminate Ventures", 'http://www.illuminate.com/', target:'_blank' %></li>
					<li><%= link_to "Imperial College Business School", 'http://www3.imperial.ac.uk/business-school', target:'_blank' %></li>
					<li><%= link_to "Inforum Center for Leadership", 'https://www.inforummichigan.org/home', target:'_blank' %></li>
					<li><%= link_to "International Museum of Women", 'http://www.imow.org/home/index', target:'_blank' %></li>
				
					<li><%= link_to "IOME Group", '', target:'_blank' %></li>
					<li><%= link_to "Lucas Point Ventures", 'http://lucaspointventures.com', target:'_blank' %></li>
					<li><%= link_to "Maryland Center for Entrepreneurship", 'http://www.hceda.org/maryland-center-for-entrepreneurship.aspx', target:'_blank' %></li>
					<li><%= link_to "MIT", 'http://www.mit.edu/', target:'_blank' %></li>
					<li><%= link_to "Mutual Benefits", 'http://www.mutualbenefitgroup.com/', target:'_blank' %></li>
					<li><%= link_to "National Center for Women and Information Technology", 'http://www.ncwit.org/', target:'_blank' %></li>
					<li><%= link_to "Northzone", 'http://www.northzone.com/', target:'_blank' %></li>
					<li><%= link_to "OPPORTUNITIES-PA", 'http://www.opportunitiespa.org/', target:'_blank' %></li>
					<li><%= link_to "PSDNetwork LLC", 'http://www.psdnetwork.com/', target:'_blank' %></li>
					<li><%= link_to "She's Geeky", 'http://shesgeeky.org/', target:'_blank' %></li>
					<li><%= link_to "Simmons College", 'http://www.simmons.edu/', target:'_blank' %></li>
				</ul>
				</td>
				<td>
				<ul>
					
					<li><%= link_to "Slalom Consulting", 'http://www.slalom.com/', target:'_blank' %></li>
					<li><%= link_to "SmartGirls Way", 'http://www.smartgirlsway.com/', target:'_blank' %></li>
					<li><%= link_to "Springboard Enterprises", 'http://www.springboardenterprises.org/', target:'_blank' %></li>
					<li><%= link_to "Springworks", 'http://springworks.org/', target:'_blank' %></li>
					<li><%= link_to "StartOut", 'http://startout.org/', target:'_blank' %></li>
					<li><%= link_to "Startup America Partnership", 'http://www.s.co/', target:'_blank' %></li>
					<li><%= link_to "Startup Weekend", 'http://startupweekend.org/', target:'_blank' %></li>
					<li><%= link_to "The Clayman Institute for Gender Research", 'http://gender.stanford.edu/', target:'_blank' %></li>
					<li><%= link_to "The Next Women", 'http://www.thenextwomen.com/', target:'_blank' %></li>
				
					<li><%= link_to "The Op Ed Project", 'http://www.theopedproject.org/', target:'_blank' %></li>
					<li><%= link_to "The Story Exchange", 'http://thestoryexchange.org/', target:'_blank' %></li>
					<li><%= link_to "Tier One Partners", 'http://www.tieronepr.com/', target:'_blank' %></li>
					<li><%= link_to "Train 2000", 'http://www.train2000.org.uk/', target:'_blank' %></li>
					<li><%= link_to "U.S. Black Chamber, Inc.", 'http://www.usblackchamber.org/', target:'_blank' %></li>
					<li><%= link_to "We Connect Europe", 'http://www.weconnecteurope.org/', target:'_blank' %></li>
					<li><%= link_to "WET Productions", 'http://www.wetproductions.com/', target:'_blank' %></li>
					<li><%= link_to "Women 2.0", 'http://www.women2.com/', target:'_blank' %></li>
					<li><%= link_to "Women 4 Technology", 'http://www.baileyfisher.com/women-4-technology-london.php', target:'_blank' %></li>
					<li><%= link_to "Women Equity for Growth", 'http://www.women-equity.org/', target:'_blank' %></li>
					
					<li><%= link_to "Women on Boards, UK", 'http://www.womenonboards.co.uk/', target:'_blank' %></li>
					<li><%= link_to "Women Presidents Organization", 'http://www.womenpresidentsorg.com/', target:'_blank' %></li>
					<li><%= link_to "x.Million Capital", 'http://www.xmillioncapital.eu/', target:'_blank' %></li>
					
					
				</ul>
				</td>


			</tr>
		</table>
	</p>
	</span>
</div>


