


<div class="center hero-unit">
	<h1>We Own It Summit</h1>
	<h2>June 27th and June 28th, 2013<br>
    London, United Kingdom</h2>
     <%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
    <p>
		A Summit of leaders to explore women's participation in high-growth businesses and identify solutions to move us forward.
	<div id="home-text">
	<p>We know the motivations.
		<br>
		We know the metrics.
		<br>
		We know the money. 
		<br>
		We know the myths.
		<br>
		We come together to own the solutions.
		<br>
	</p>
	</div>
	<p>
		Attendees include entrepreneurs, investors, and leaders of organizations and institutions advocating, promoting, accelerating and researching women's participation in high-growth entrepreneurship. Understanding the cycle and system necessary for this promotion, we are invested in women leaders as aspiring entrepreneurs, founders, CEOs, C-Suite managers, owners, investors, and board members.
	</p>
</div><!-- .hero-unit -->




<div class="row">
	<div class="span5" align="center">
		<h2>Global Pitch Competition</h2>
		<p>Seeking the most promising high-growth women-led companies from around the world to present in London, UK on June 27th in front of an audience of preeminent venture capitalists and global invests. <%= link_to "Find out more", pitch_path, target:'_blank' %>
		<p><a href="https://gust.com/r/via_group/53762?conversationId=242922" class="btn btn-second" target='_blank'>APPLY NOW</a>
		</p>
	</div>

	<div class="span5" align="center">
		<h2>Watch our Convos</h2>
		<p>

			<script type="text/javascript">

				

				var videos= new Array();
			
				videos[0]='<iframe width="300" height="169" src="http://www.youtube.com/embed/m2xw_PfunQ4" frameborder="0" allowfullscreen></iframe>';
				videos[1]='<iframe width="300" height="169" src="http://www.youtube.com/embed/kTNYPZd0Mvg" frameborder="0" allowfullscreen></iframe>';
				videos[2]='<iframe width="300" height="169" src="http://www.youtube.com/embed/VSMJW-0KsBM" frameborder="0" allowfullscreen></iframe>';
				videos[3]='<iframe width="300" height="169" src="http://www.youtube.com/embed/eRBxrOY_oLM" frameborder="0" allowfullscreen></iframe>';
				videos[4]='<iframe width="300" height="169" src="http://www.youtube.com/embed/Xp4maVy1kW0" frameborder="0" allowfullscreen></iframe>';
				videos[5]='<iframe width="300" height="169" src="http://www.youtube.com/embed/EBswx2nq9Es" frameborder="0" allowfullscreen></iframe>';
				videos[6]='<iframe width="300" height="169" src="http://www.youtube.com/embed/5j_SXVj6WB0" frameborder="0" allowfullscreen></iframe>';
				videos[7]='<iframe width="300" height="169" src="http://www.youtube.com/embed/3iBcOITeEME" frameborder="0" allowfullscreen></iframe>';
				videos[8]='<iframe width="300" height="169" src="http://www.youtube.com/embed/GuSK2WpcZc0" frameborder="0" allowfullscreen></iframe>';
				videos[9]='<iframe width="300" height="169" src="http://www.youtube.com/embed/CvYec6dbWyQ" frameborder="0" allowfullscreen></iframe>';
				videos[10]='<iframe width="300" height="169" src="http://www.youtube.com/embed/tN4ieiVDvFs" frameborder="0" allowfullscreen></iframe>';
				videos[11]='<iframe width="300" height="169" src="http://www.youtube.com/embed/J0FweoEhwsw" frameborder="0" allowfullscreen></iframe>';
				videos[12]='<iframe width="300" height="169" src="http://www.youtube.com/embed/kpuoEfoA9rE" frameborder="0" allowfullscreen></iframe>';
				videos[13]='<iframe width="300" height="169" src="http://www.youtube.com/embed/msn_f_4gSIQ" frameborder="0" allowfullscreen></iframe>';
				videos[14]='<iframe width="300" height="169" src="http://www.youtube.com/embed/42LHb1YiRsM" frameborder="0" allowfullscreen></iframe>';
				videos[15]='<iframe width="300" height="169" src="http://www.youtube.com/embed/RzCBUu74nC4" frameborder="0" allowfullscreen></iframe>';
				videos[16]='<iframe width="300" height="169" src="http://www.youtube.com/embed/8vRoOgG02Xg" frameborder="0" allowfullscreen></iframe>';
				videos[17]='<iframe width="300" height="169" src="http://www.youtube.com/embed/itGS3_lAPuY" frameborder="0" allowfullscreen></iframe>';
				videos[18]='<iframe width="300" height="169" src="http://www.youtube.com/embed/nWZa-IuZ36g" frameborder="0" allowfullscreen></iframe>';
				videos[19]='<iframe width="300" height="169" src="http://www.youtube.com/embed/LLRsh-dAlZg" frameborder="0" allowfullscreen></iframe>';
				videos[20]='<iframe width="300" height="169" src="http://www.youtube.com/embed/T2aQv8nRW0g" frameborder="0" allowfullscreen></iframe>';
				videos[21]='<iframe width="300" height="169" src="http://www.youtube.com/embed/7bc54nm4ip0" frameborder="0" allowfullscreen></iframe>';
				videos[22]='<iframe width="300" height="169" src="http://www.youtube.com/embed/vuX_4v7AYVc" frameborder="0" allowfullscreen></iframe>';
				videos[23]='<iframe width="300" height="169" src="http://www.youtube.com/embed/nUHjB52MU0w" frameborder="0" allowfullscreen></iframe>';
				videos[24]='<iframe width="300" height="169" src="http://www.youtube.com/embed/GgjmoJAG4v4" frameborder="0" allowfullscreen></iframe>';
				videos[25]='<iframe width="300" height="169" src="http://www.youtube.com/embed/_u34HQOtamM" frameborder="0" allowfullscreen></iframe>';
				videos[26]='<iframe width="300" height="169" src="http://www.youtube.com/embed/rb28o62Kwx8" frameborder="0" allowfullscreen></iframe>';
				videos[27]='<iframe width="300" height="169" src="http://www.youtube.com/embed/tpclZp55vDg" frameborder="0" allowfullscreen></iframe>';



				index= Math.floor(Math.random()* videos.length);
				document.write(videos[index]);
			</script>

				

			
		<p>
			With the support of our wonderful <%= link_to "2013 Collaboration", 'bios#2013 Collaboration', target:'_blank' %> video interviews with key collaboration members, Summit speakers, and outside experts have been conducted to provide thought provoking insight and stimulate the necessary conversations about women and leadership.
			
		<p><a class="btn btn-second" href="http://www.youtube.com/weownitsummit">Watch</a>
		</p>
	</div>


	
</div>

<ul class="nav nav-list">
	<li class="divider"></li>
</ul>


<div class="row">
	<div class="span12" align="center">
		<h2>Sponsors</h2>
		<h4>Platinum</h4>
		<p>
				<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank'%>

		</p>
	</div>
</div>

<div class="row">
	<div class="span6" align="center">
		<h4>Gold</h4>
		<p>
			<%= link_to image_tag("TSB.jpg", size:"250x250"), 'http://www.innovateuk.org/', target:'_blank'%>
		</p>
	</div>

	<div class="span6" align="center">
		<h4>Silver</h4>
		<p>
			<%= link_to image_tag("dentons.jpg", size:"200x200"), 'http://www.dentons.com', target:'_blank' %>
		</p>
	</div>
</div>

<div class="row">


	<div class="span4" align="center">
		<h4>Bronze</h4>
		<p>
			<%= link_to image_tag("bloomberg logo blk.jpg", size:"100x100"), 'http://www.bloomberg.com/', target:'_blank'%>
		</p>
	</div>

	<div class="span4" align="center">
		<h4>Partners</h4>
		<p>
			<%= link_to image_tag("gust.png", size:"50x50"), 'http://www.gust.com/', target:'_blank'%>
			<%= link_to image_tag("astiaangel2.jpg", size:"70x70"), 'http://www.astia.org/', target:'_blank' %>
			<%= link_to image_tag("SW_kauffman_green.png", size:"80x80"), 'http://www.startupweekend.org/', target:'_blank' %>
			<%= link_to image_tag("Grange.jpg", size:"90x90"), 'http://www.grangehotels.com/', target:'_blank' %>
		</p>
	</div>

	<div class="span4" align="center">
		<h4>Media Partners</h4>
		<p>
		<%= link_to image_tag("tnw.png", size:"70x70"), 'http://www.thenextwomen.com', target:'_blank'%>
		<%= link_to image_tag("fieldhouseLogo.jpg", size:"85x85"), 'http://www.fieldhouseassociates.com', target:'_blank'%>
		</p>
	</div> 

</div>


<div style="position:absolute; top:99px; right:25px;">
<p>
<a class="twitter-timeline" href="https://twitter.com/WeOwnItSummit" width="85px" height="709px" data-widget-id="324588213320683520">Tweets by @WeOwnItSummit</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</p>



</div>


