<h1>Global Pitch Competition</h1>
<div id="global">
	<div id="pitch">
		<p>
			<%= link_to("Astia", 'http://www.astia.org/', target:'_blank') %> and <%= link_to("The NextWomen", 'http://www.thenextwomen.com/', target:'_blank') %> present<br>the <strong>2013 Global Pitch Competition</strong><br>in collaboration with the <%= link_to("2013 We Own It Summit", root_path, target:'_blank')%><br>
		</p>
	</div>
	<p>
		<strong>Seeking the most promising high-growth women-led companies from around the world</strong> to present on stage in London, UK on June 27th in front of an audience of preeminent venture capitalists and global investors.<strong> Compete for cash prizes, global visbility, and unequaled promotion, and networking opportunities.</strong<br>

		The top 5 applicants will be invited to pitch in front of an international audience at the Fourth Annual We Own It Summit. The top 20 finalists will be invited to attend the summit, participate in discussion salons lead by prominent players in the funding and entrepreneurship space, and network with investors and industry experts.<br>
	</p>
	<div id="app">
		<h2><strong>Applications Open!!</strong></h2>
	<p>
		<a href="https://gust.com/r/via_group/53762?conversationId=242922" class="btn btn-danger btn-large" target='_blank'>APPLY NOW</a><br>
				<strong>Application deadline: May 15, 2013</strong>
	</p>
	<p>
		Qualification Criteria<br>
		<ul>
			<li>An innovative product or offering in a high-growth sector such as Technology, Life Science, Clean Tech, or, in certain circumstances, high-growth Consumer products or services</li>
			<li>A high-growth investment opportunity - at any stage of growth</li>
			<li>An exceptional team, product, and business strategy</li>
			<li>A significant market opportunity with initial customer traction or feedback</li>
			<li>A defendable competitive advantage</li>
			<li>At least one woman in a leadership role (at C level) or in significant position of equity or influence</li>
		</ul>
	</p>
	</div>
	<p>
	<%= link_to image_tag("astia.png", size:"350x350"), 'http://astia.org/', target:'_blank', id:"astia"%>
	<%= link_to image_tag("thenextwomen2.png", size:"220x220"), 'http://www.thenextwomen.com/', target:'_blank', id:"thenextwomen"%>
	</p>
</div>
