<h1>Global Pitch Competition</h1>
<div id="global">
	<div id="pitch">
		<p>
			<h3><strong>Finalists Announced!</h3>
		<p>
			<h3><a href="WeOwnItSummitPressReleaseJune11.2013.pdf" target="_blank">Click Here</a> for Press Release</strong></h3><br>
		</p>
		<p>
			<%= link_to("Astia", 'http://www.astia.org/', target:'_blank') %> and <%= link_to("The NextWomen", 'http://www.thenextwomen.com/', target:'_blank') %> present<br>the <strong>2013 Global Pitch Competition</strong><br>in collaboration with the <%= link_to("2013 We Own It Summit", root_path, target:'_blank')%><br>
		</p>

	<p>
		<strong>Register to attend the pitch competition, taking place Thursday June 27th from 8am - 12pm. Registration is free to qualified investors, small suggested donation for the general public.<br>
		<%= link_to "Register to Attend", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %><br><br></strong>

	</p>

	<h3><strong>Finalists</strong><br></h3>
	
	<p>
		<strong><a href="http://www.eniwaresterile.com" target="_blank">Eniware (US)</a></strong><br>
		Portable, power-independent, low-cost medical instrument sterilization device will be used in developing countries and disaster response.<br>
	<p>
		<strong><a href="http://www.ilost.nl/nl/welkom/" target="_blank">iLost (Netherlands)</a></strong><br>
		iLost returns lost property to the owner. 5 times greater chance that a lost item is refound and takes away the lost & found hassle for organizations.<br>
	<p>
		<strong><a href="http://www.optensity.com/" target="_blank">Optensity Inc. (US)</a></strong><br>
		AppSymphony enables data scientists to build big data analytics and execute across multiple clouds creating an App Virtualization layer.<br>
	<p>
		<strong><a href="http://seabenergy.com/#sthash.NCoduqel.dpbs" target="_blank">SEaB Energy (UK)</a></strong><br>
		Patented, award-winning, automated micro anaerobic digestion system in a 40' container, which converts organic waste into energy on any site.<br>

	<p>
		<strong><a href="http://www.virtualproteins.com/" target="_blank">Virtual Proteins (Netherlands)</a></strong><br>
		Virtual Proteins BV helps (neuro)-surgeons plan and perform better and more safely on complex interventions. The product <i>VP Reveal</i> is on the market and ready to go global.
	</p><br>

	<h3><strong>Judges</strong></h3>
	<p>
		David Bott, Director of Innovation Programmes at the Technology Strategy Board
	<p>
		Maria Dramalioti Taylor, Partner, xMillion Capital Ventures & Founder Anegllab
	<p>
		Amy Gips, Founding Managing Partner, Astia Angel & Director of Investments, Astia
	<p>
		Jerneja Loncar,  Investment Manager, GM Ventures
	<p>
		Chrisitian Craggs, VP Europe Investments, Telefonica Ventures
	</p><br>

	<h3><strong>Prizes</strong></h3>
	<p>
		The top 5 applicants will be invited to pitch in front of an international audience at the Fourth Annual We Own It Summit. 

		<p>Winner Receives a Cash Prize Sponsored by <a href="http://www.innovateuk.org/" target="_blank">Technology Strategy Board</a>
		<p>
			The Top UK Company Receives a day of Advisory Services by <a href="http://www.duetpartners.com/" target="_blank">Duet Partners</a>
		<p>
			All Finalists and Semi-Finalists are invited to attend the summit free of charge
		<p>
			All Finalists and Semi-Finalists are invited to sign up for "office hours" with We Own It Summit investors, advisers and experts
			<br>
	</p>
</div>

	
	
	<p>
	<%= link_to image_tag("astia.png", size:"350x350"), 'http://astia.org/', target:'_blank', id:"astia"%>
	<%= link_to image_tag("nextwomenmidsize.jpg", size:"220x220"), 'http://www.thenextwomen.com/', target:'_blank', id:"thenextwomen"%>
	</p>
	<div class="row">
		<div class="span12" align="center">
		<h4>Global Pitch Competition Sponsored By</h4>
		<p>
			<%= link_to image_tag("TSB.jpg", size:"270x270"), 'http://www.innovateuk.org/', target:'_blank'%><br><br>
			<%= link_to image_tag("gust.png", size:"60x60"), 'http://gust.com/', target:'_blank'%>
			<%= link_to image_tag("astiaangel2.jpg", size:"70x70"), 'http://astia.org/', target:'_blank' %>
			<%= link_to image_tag("SW_kauffman_green.png", size:"70x70"), 'http://startupweekend.org/', target:'_blank' %>
		</p>
	</div>
</div>

