<h1>Press</h1>
<h2>2013 Press</h2>
<div id="goals">
	<p>
		<a href=" http://www.thenextwomen.com/2013/06/13/are-you-ready-explore-women-s-participation-high-growth-enterprises
" target="_blank"> The NextWomen, "Are You Ready To Explore Women's Participation in High-Growth Enterprises,"</a> by Simone Brummelhuis, 13 June 2013
		<br>
		<a href="WeOwnItSummitPressReleaseJune11.2013.pdf" target="_blank">We Own It Summit Press Release June 11th, 2013</a>
		<br>
	</p>
	<p>
		<a href="pressrelease.pdf" target="_blank">We Own It Summit Global Pitch Competition Press Release May 1st, 2013</a>
	</p>
</div>
<div id="past-press">
	<h2>Press Coverage From Past Summits:</h2>
	<ul>
		<li><%= link_to "Enrepreneurs -- Manage Yourselves! by Penny Herscher", 'http://www.huffingtonpost.com/penny-herscher/entrepreneurs---manage-yo_b_606751.html', target:'_blank' %></li>
		<li><%= link_to "Why Venture Capital Firms Need More Women Partners by Nick Leiber", 'http://www.businessweek.com/smallbiz/running_small_business/archives/2010/06/why_venture_capital_firms_need_more_women_partners.html', target:'_blank' %></li>
		<li><%= link_to "Why Aren't There More Women Starting High Growth Businesses? by Liz Hamburg", 'http://www.huffingtonpost.com/liz-hamburg/why-arent-there-more-wome_b_613197.html', target:'_blank' %></li>
		<li><%= link_to "We Own It Summit Produces Tangible Goals for Promoting Women's Participation in High Growth Entrepreneurship", 'http://www3.babson.edu/Newsroom/Releases/We-Own-It-Summit.cfm', target:'_blank' %></li>
		<li><%= link_to "Closing the Venture Capital Gender Gap", 'http://www.businessweek.com/smallbiz/content/jun2010/sb20100623_705672.htm', target:'_blank' %></li>
	</ul>
	<h2>Research to read in preparation for the Summit:</h2>
	<ul>
		<li><%= link_to "Gatekeepers of Venture Growth: The Diana Project", 'http://www.kauffman.org/research-and-policy/gatekeepers-of-venture-growth.aspx', target:'_blank' %></li>
		<li><%= link_to "The Diversity Prediction Theorem by Scott Page", 'http://www.cscs.umich.edu/~spage/thedifference.html', target:'_blank' %></li>
		<li><%= link_to "The Anatomy of An Entrepreneur", 'http://www.kauffman.org/typical-company-founders-are-married-with-children-and-well-educated-strive-to-rise-above-their-lower-middle-class-heritage.aspx', target:'_blank' %></li>
		<li><%= link_to "Are Women Entrepreneurs Different From Men?", 'http://www.kauffman.org/experience-networks-encouragement-support-keys-for-high-growth-women-entrepreneurs.aspx', target:'_blank' %></li>
	</ul>
</div>
