<h1>Sponsors</h1>
<p>
The We Own It Summit is made possible through the generosity of companies who champion the mission to increase women's participation in high growth entrepreneurship, and women's equal representation on boards.
</p>
<div id="sponsors">
	<div id="platinum">
	<h3 style="color:black">2013 We Own It Summit Sponsors</h3>
	<h3>Platinum</h3>
	
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson"%>
	<p>
		Thomson Reuters is the world's leading source of intelligent information for businesses and professionals. We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization. With headquarters in New York and major operations in London and Eagan, Minnesota, Thomson Reuters employs approximately 60,000 people and operates in over 100 countries. Thomson Reuters shares are listed on the Toronto and New York Stock Exchanges.  For more information, go to: <%= link_to "Thomson Reuters", 'http://thomsonreuters.com/', target:'_blank' %>
	</p>
	</div>
	<div id="gold">
		<h3>Gold</h3>
		<%= link_to image_tag("TSB.jpg", size:"300x300"), 'http://www.innovateuk.org/', target:'_blank', id:"tsp"%>
		<p>
			<br>
			The <strong>Technology Strategy Board</strong> is the UK's innovation agency. Its goal is to accelerate economic growth by stimulating and supporting business-led innovation. Sponsored by the Department for Business, Innovation and Skills (BIS), the Technology Strategy Board brings together business, research and the public sector, supporting and accelerating the development of innovative products and services to meet market needs, tackle major societal challenges and help build the future economy. For more information, please visit: <%= link_to "Technology Strategy Board", 'http://innovateuk.org/', target:'_blank' %>
		</p>
	</div>
	<div id="silver">
		<h3></h3>
	</div>
	<div id="bronze">
		<h3>Bronze</h3>
		
	</div>
	<div id="partners">
		<h3>Partners</h3>
		<%= link_to image_tag("gust.png", size:"100x100"), 'http://gust.com/', target:'_blank', id:"gust"%> 
		<%= link_to image_tag("astiaangel2.jpg", size:"100x100"), 'http://astia.org', target:'_blank' %>
	</div>
	<div id="mediapartners">
		<h3>Media Partners</h3>
		<%= link_to image_tag("tnw.png", size:"250x250"), 'http://thenextwomen.com', target:'_blank', id:"thenextwomen2"%>
		<p>
			The NextWomen is on a mission to build The Female Business Brand for entrepreneurs, executives and investors. Our goal is to advise, inspire & connect a global & local community of ambitious entrepreneurial women specifically on their business needs - online & offline. The NextWomen is all about killer advice and killer contacts!
		</p>

	</div>
</div>

