<h1>Sponsors</h1>
<p>
The We Own It Summit is made possible through the generosity of companies who champion the mission to increase women's participation in high growth entrepreneurship, and women's equal representation on boards.
</p>
<div id="sponsors">
	<div id="platinum">
	<h3 style="color:black">2013 We Own It Summit Sponsors</h3>
	<h3>Platinum</h3>
	
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson"%>
	<p>
		Thomson Reuters is the world's leading source of intelligent information for businesses and professionals. We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization. With headquarters in New York and major operations in London and Eagan, Minnesota, Thomson Reuters employs approximately 60,000 people and operates in over 100 countries. Thomson Reuters shares are listed on the Toronto and New York Stock Exchanges.  For more information, go to: <%= link_to "Thomson Reuters", 'http://thomsonreuters.com/', target:'_blank' %>
	</p>
	</div>

	<div class="row">
	<div class="span12" align="center">

		<h3>Gold</h3>
		<%= link_to image_tag("TSB.jpg", size:"300x300"), 'http://www.innovateuk.org/', target:'_blank'%>
		<p>
			<br>
			The <strong>Technology Strategy Board</strong> is the UK's innovation agency. Its goal is to accelerate economic growth by stimulating and supporting business-led innovation. Sponsored by the Department for Business, Innovation and Skills (BIS), the Technology Strategy Board brings together business, research and the public sector, supporting and accelerating the development of innovative products and services to meet market needs, tackle major societal challenges and help build the future economy. For more information, please visit: <%= link_to "Technology Strategy Board", 'http://innovateuk.org/', target:'_blank' %>
		</p>
		<%= link_to image_tag("MSFT.jpg", size:"300x300"), 'http://www.microsoft.com/en-us/default.aspx', target:'_blank' %>
		<p>
			Microsoft is committed to helping entrepreneurs to transform their ambitions into sustainable, dynamic businesses and to foster innovation and entrepreneurialism. To this end, the BizSpark Program provides Startups with software, support and visibility at a time when they are most valuable and least affordable—during their first five years, with no upfront costs and minimal requirements. BizSpark gives Startups fast and easy access to Microsoft’s current full-featured development tools, platform technologies as well as production licenses to bring to market innovative and interoperable solutions for the next generation of user experiences.
		</p>

</div>
</div>
	<div id="silver">
		<h3>Silver</h3>
		<%= link_to image_tag("dentons.jpg", size:"200x200"), 'http://www.dentons.com', target:'_blank', id:"dentons" %>
		<p>
			Established by the combination of international law firm Salans, Canadian law firm Fraser Milner Casgrain (FMC) and international law firm SNR Denton, Dentons is a new global firm driven to provide our clients with a competitive edge in an increasingly complex, interconnected and global marketplace. 
		<p>
			Dentons connects clients to top tier, innovative and integrated legal talent across Europe, Canada, the UK, the US, the Middle East, Central and East Asia, Asia Pacific and Africa. Our 2,500 lawyers and professionals in 79 locations across 52 countries are dedicated to providing clients with consistent high-quality service wherever they do business. Our offices across the globe serve as portals for our clients to easily access the leading legal talent of Dentons - around the corner or around the world.
		<p>
			In today's rapidly changing business, legal and financial environments, Dentons offers a worldwide knowledge base that provides comprehensive industry sector expertise, local market intelligence and globally informed solutions - invaluable advantages and insights for our clients across the local, regional and international spectrums. 
		<p>
			For more information, visit <a href="www.dentons.com">www.dentons.com</a>
		</p>
	</div>

	<div id="bronze">
		<h3>Bronze</h3>
		<%= link_to image_tag("bloomberg logo blk.jpg", size:"150x150"), 'http://www.bloomberg.com/', target:'_blank', id:"bloom"%>
		<p>
			Bloomberg, the global business and financial information and news leader, gives influential decision makers a critical edge by connecting them to a dynamic network of information, people, and ideas. The company's strength - delivering data, news, and analytics through innovative technology, quickly and accurately - is at the core of Bloomberg Professional service, which provides real time financial information to more than 315,000 leading business and financial professionals around the world.
		</p>
	</div>

	<div class="row">
	<div class="span12" align="center">
		<h3>Partners</h3>
		<%= link_to image_tag("gust.png", size:"90x90"), 'http://gust.com/', target:'_blank'%><br>
		<p>
			Gust provides the global platform for the sourcing and management of early-stage investments, enabling skilled entrepreneurs to collaborate with the smartest investors by virtually supporting all aspects of the investment relationship, from initial pitch to successful exit. Gust is endorsed by the world's leading business angel and venture capital associations, and powers over 1,000 investment organizations in 65 countries. More than 170,000 start-ups have already used the platform to connect and collaborate with over 40,000 individual accredited investors.
		</p>
		<%= link_to image_tag("astiaangel2.jpg", size:"100x100"), 'http://www.astia.org', target:'_blank' %><br>
		<p>
		Astia Angel is a global network of female and male investors that invest in women-led, high-growth ventures. The angel investor network is led by an active manager and experienced Founding AstiaAngels. All members are highly involved throughout the investment process and make independent investment decisions.
		</p>
		<%= link_to image_tag("SW_kauffman_green.png", size:"110x110"), 'http://www.startupweekend.org/', target:'_blank' %>
		<p>
			Startup Weekend supports the development and expansion of entrepreneurship through events worldwide that educate aspiring entrepreneurs by immersing them in the process of moving an idea to market. Startup Weekend has built a network of more than 75,000 alumni, thousands of volunteer organizers and 100 trained facilitators spread across more than 300 cities in 100 countries. Kauffman Foundation, Google, Microsoft, .Co, Sendgrid and Cloudmine are sponsors. For more information visit <a href="http://www.startupweekend.org">www.startupweekend.org</a> or follow us on Twitter <a href="http://www.twitter.com/startupweekend">@startupweekend</a>
		</p>
	</div>
</div>


	<div class="row">
	<div class="span12" align="center">
		<h3>Media Partners</h3>
		<%= link_to image_tag("tnw.png", size:"170x170"), 'http://thenextwomen.com', target:'_blank'%>
		<p>
			The NextWomen is on a mission to build The Female Business Brand for entrepreneurs, executives and investors. Our goal is to advise, inspire & connect a global & local community of ambitious entrepreneurial women specifically on their business needs - online & offline. The NextWomen is all about killer advice and killer contacts!
		</p>
		<%= link_to image_tag("fieldhouseLogo.jpg", size:"180x180"), 'http://www.fieldhouseassociates.com', target:'_blank' %>
		<p>
			FieldHouse is a PR agency with a business edge. It's out philosophy that by working with elemental partnes in the tech and startup ecosystem, that all of our clients can benefit from FieldHouse connections. Not just connections with key media and analysts, that's a given for any PR agency, but with wider contacts that can make a big impact on business objectives like investors, event organisers, accelerator programmes, entrepreneurs, corporate teams, start-ups. We take media relations, copy writing, speaking opportunities and the rest of public relations for granted. We focus on what's seriously going to hit the bottom line. That's what's interesting, that's what will make an impact, that's what we do.
		</p>

	</div>
	</div>

	<div class="row">
	<div class="span12" align="center">
		<h3>Hotel Partners</h3>
		<%= link_to image_tag("Grange.jpg", size:"170x170"), 'http://www.grangehotels.com/', target:'_blank'%>
		<p>
			Grange Hotels, London's leading independent hotel group and winner of Best Small Hotel Company at the Business Travel Awards 2013, provides luxury London accommodation, hospitality and events services for the most discerning guests. With today’s business traveller asking for better technology, more efficient service, and greener travel, Grange Hotels set out to provide the most personal, attentive and discreet service available.
		<p>
			With a luxury collection of 4 star and 5 star hotels in iconic London locations, each Grange Hotel effortlessly combines traditional high standards of comfort for our guests with contemporary, well-equipped facilities. This is because we take pride in hosting some of the most important, innovative and forward thinking discussions in our hotels. Our aim is to provide locations where field leaders from across the globe can come together to drive real change in society.
		<p>
			Whether for business or for pleasure, Grange Hotels’ beautifully appointed bedrooms, unrivalled bars, restaurants and meeting and events facilities, together with luxury health clubs and spas, are designed to make your visit truly memorable for all the right reasons.
		</p>
	</div>
</div>
</div>

