		

		
		<header class="navbar navbar-fixed-top navbar-inverse">
	
			<div class="navbar-inner">
				
					<nav>
						<ul class="nav pull-left">
							<%= link_to image_tag("summit.png", size:"100x100"), '#', id:"logo"%>
						</ul>
						<ul class="nav pull-right">
							<li><%= link_to "Home", '#', id:"menu"%></li>
							<li><%= link_to "About", '#', id:"menu"%></li>

							<li class="dropdown" id:"menu">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Agenda<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Summit Schedule</a></li>
									<li><a href="#">Salon Descriptions</a></li>
									<li><a href="#">Entrepreneur Competition</a></li>
									<li><a href="#">Awards Dinner</a></li>
								</ul>
							</li>


							<li><%= link_to "Venue and Hotel", '#', id:"menu" %></li>

							<li class="dropdown" id:"menu">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Summit Bios<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">Keynotes</a></li>
									<li><a href="#">Salon Leaders & Moderators</a></li>
									<li><a href="#">Collaboration Organizations</a></li>
									
								</ul>
							</li>

							
							<li><%= link_to "Gallery", '#', id:"menu" %></li>
							<li><%= link_to "Press", '#', id:"menu" %></li>
							<li><%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', id:"menu" %></li>
							<li><%= link_to "Blog", '#', id:"menu" %></li>
					
							<li><%= link_to image_tag("green_twitter.png", size:"40x40"), 'https://twitter.com/WeOwnItSummit', id:"sm" %></li>
							<li><%= link_to image_tag("green_facebook.png", size:"40x40"), 'https://www.facebook.com/WeOwnItSummit', id:"sm" %></li>
							<li><%= link_to image_tag("green_linkedin.png", size:"40x40"), 'http://www.linkedin.com/groups/We-Own-It-Summit-3716606/about', id:"sm" %></li>
						</ul>
					</nav>
				
			</div>
		</header>
